/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 16px;
  background: white;
  color: black;
}

h1 {
  font-size: 1.8em;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 600;
  color: #333;
  margin: 0 0 0.5em 0;
}

h2 {
  font-size: 1.4em;
  line-height: 1em;
  font-weight: 600;
  color: #333;
  margin: 1.0em 0 1.0em 0;
}

h3 {
  font-size: 1.2em;
  line-height: 1em;
  font-weight: 600;
  color: #333;
  margin: 1.0em 0 0.5em 0;
}

h4 {
  font-size: 1.0em;
  line-height: 1em;
  font-weight: 600;
  color: #333;
  margin: 0.5em 0 0.5em 0;
}

p {
  margin: 1em 0;
  line-height: 1.5em;
}

b {
  font-weight: 600;
}

i {
  font-style: italic;
}

button, .button {
  display: inline-flex;
  border: none;
  border-radius: 0.5em;
  justify-content: center;
  align-items: center;
  background: #ccc;
  transition: background 100ms ease-out;
  cursor: pointer;
  padding: 0.5em 1.0em;
  margin: 0;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

pre {
  background: #282c34;
  font-size: .85em;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  line-height: 1.4;
  color: white;
  padding: 1em;
  border-radius: 0.5em;
  overflow-x: auto;
}

button *, .button * {
  cursor: pointer;
}

button:hover, .button:hover {
  background: #8e7cc3;
}

button.selected, .button.selected {
  background: #85d;
}

button.selected:hover, .button.selected:hover {
  background: #86e;
}

button:active, .button:active {
  background: #85d;
}

a {
  color: #8e7cc3;
  text-decoration: none;
}
a:hover {
  color: #83c;
}
a:active, a.selected {
  color: #85d;
}
a.selected:hover {
  color: #86e;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: space-between;
}

.row.left {
  justify-content: flex-start;
}
.row.center {
  justify-content: center;
  align-items: center;
}
.row.right {
  justify-content: flex-end;
}
.row.p5, .buttons.p5, .column.p5 {
  gap: 5px;
}
.row.p10, .buttons.p10, .column.p10 {
  gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
}

div.circle-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  min-width: 2.0em;
  width: 2.0em;
  height: 2.0em;
  overflow: hidden;
  transition: background-color 150ms ease-in-out;
}
*:hover > div.circle-icon {
  background: rgba(255,255,255,0.2);
}

.logged-in div.circle-icon {
  background: #8e7cc3;
}
.logged-in div.circle-icon:hover {
  background: #85d;
}

.breadcrumbs {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}

.continuations {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  border-top: 1px solid #eee;
  margin-top: 1em;
}

.continuations > .previous {
  display: flex;
  flex: 1 1;
  justify-content: flex-start;
}

.continuations > .next {
  display: flex;
  flex: 1 1;
  justify-content: flex-end;
}

.auth-info {
  border-radius: 5px;
  background: #bbb;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.fulltext {
  display: inline;
}
.initials {
  display: none;
}

@media only screen and (max-width: 480px) {
  .site-title {
    font-size: 1.4em;
    font-weight: 600;
  }
  .fulltext {
    display: none;
  }
  .initials {
    display: inline;
  }
}
.sidenav[data-v-c94b5bc6] {
    display: flex;
    flex-direction: column;
    gap: 1px;
    justify-content: flex-start;
    min-width: 200px;
    width: 200px;
    max-width: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 2px solid #ddd;
    transition: min-width 200ms ease-in-out, max-width 200ms ease-in-out, width 200ms ease-in-out, background-color 200ms ease-in-out;
    z-index: 100;
}
.sidenav > *[data-v-c94b5bc6] {
    white-space: nowrap;
}
.sidenav > label[data-v-c94b5bc6] {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
    color: #666;
}
.sidenav > a[data-v-c94b5bc6] {
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
}
@media only screen and (max-width: 768px) {
.sidenav[data-v-c94b5bc6] {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      min-width: 0;
      width: 0;
      max-width: 0;
      overflow: hidden;
      background: #666;
      transition: min-width 200ms ease-in-out, max-width 200ms ease-in-out, width 200ms ease-in-out, background-color 200ms ease-in-out;
}
.sidenav.show[data-v-c94b5bc6] {
      min-width: 100%;
      max-width: 100%;
      background: rgb(255, 255, 255);
}
.sidenav > *[data-v-c94b5bc6] {
      display: none;
      white-space: nowrap;
}
.sidenav.show > *[data-v-c94b5bc6] {
      display: block;
      white-space: nowrap;
}
}
  
div.auth-status[data-v-2bb64786] {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
div.auth-status a[data-v-2bb64786] {
  color: #000000;
}
div.auth-status.logged-in a[data-v-2bb64786] {
  color: white;
}
a label.user-name[data-v-2bb64786] {
  text-transform: capitalize;
  font-weight: 600;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
  color: black;
}
a:hover label.user-name[data-v-2bb64786] {
  color: rgb(34, 34, 34);
}
label.user-initials[data-v-2bb64786] {
  display: none;
  text-transform: uppercase;
  font-weight: 600;
  color: black;
}
div.auth-status button[data-v-2bb64786] {
  text-transform: uppercase;
  letter-spacing: 2px;
  white-space: nowrap;
  font-size: 12px;
}
div.auth-status:hover button[data-v-2bb64786] {
  background: #85d;
}
@media (max-width: 1279px) {
label.user-name[data-v-2bb64786] {
    display: none;
}
label.user-initials[data-v-2bb64786] {
    display: block;
}
}
@media only screen and (max-width: 640px) {
button > span[data-v-2bb64786] {
    display: none;
}
}

.header[data-v-9a4a7987] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  gap: 1em;
  height: 4em;
  border-bottom: 2px solid #ddd;
  overflow: hidden;
}
.burger[data-v-9a4a7987] {
  display: block;
  width: 24px;
  height: 20px;
  cursor: pointer;
}
.burger span[data-v-9a4a7987] {
  display: block;
  height: 2px;
  background-color: #aaa;
  margin-bottom: 6px;
}
.site-logo[data-v-9a4a7987] {
  display: inline-block;
  background: url(/api-explorer/site.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 2em;
  height: 2em;
  min-width: 2em;
}
.site-title[data-v-9a4a7987] {
  font-size: 1.4em;
  font-weight: 600;
}
.spacer[data-v-9a4a7987] {
  flex: 1 10;
}
button[data-v-9a4a7987] {
  font-size: 12px;
}
@media only screen and (max-width: 640px) {
button > span[data-v-9a4a7987] {
    display: none;
}
}


.app[data-v-171678d1] {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.middle[data-v-171678d1] {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex: 1 1;
  overflow-x: hidden;
}
.page[data-v-171678d1] {
  margin: 0;
  padding: 1em 2em;
  flex: 1 1;
  min-width: 70vw;
}
.page.freeze[data-v-171678d1] {
  display: none;
}

.icon[data-v-4ce3c955] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  vertical-align: middle;
  user-select: none;
}

div.stat[data-v-4e81d6ee] {
  display: flex;
  flex-wrap: wrap;
  margin: 0.2em 0;
  padding: 8px 8px;
  background: #f5f5f5;
}
div.stat > label[data-v-4e81d6ee] {
  flex: 2 4;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
div.stat > span.value[data-v-4e81d6ee] {
  flex: 2 4;
  text-align: right;
  font-weight: bold;
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  align-items: center;
}

pre[data-v-2f43f213] {
  color: white;
}
.paginated-items[data-v-2f43f213] {
  margin: 0.5em 0;
}
.filter-row[data-v-2f43f213] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em 0;
}
input.search-filter[data-v-2f43f213] {
  font-size: 0.9em;
  margin: 0 0.5em;
  padding: 0.3em;
  flex: 1 20;
}
.pagination-top[data-v-2f43f213] {
  display: flex;
  padding-bottom: 5px;
  border-bottom: 2px solid #eee;
  align-items: center;
  justify-content: space-between;
}
.pagination-top > .buttons[data-v-2f43f213] {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: -0.5em;
}
.pagination-bottom[data-v-2f43f213] {
  display: flex;
  padding-top: 5px;
  border-top: 2px solid #eee;
  align-items: center;
  justify-content: space-between;
}
.pagination-bottom > .buttons[data-v-2f43f213] {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: -0.5em;
}
button[data-v-2f43f213] {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  margin: 0 0.5em;
  padding: 0.5em 0.5em;
  font-size: 0.8em;
  font-family: inherit;
  font-weight: bold;
  background: #ccc;
  color: black;
  cursor: pointer;
}
button[data-v-2f43f213]:hover {
  background: #ddd;
}
button[data-v-2f43f213]:active {
  background: #aaa;
}
button > label.left[data-v-2f43f213] {
  margin-left: 0.5em;
}
button > label.right[data-v-2f43f213] {
  margin-right: 0.5em;
}
.pagination-numbers[data-v-2f43f213] {
  min-width: 50px;
  text-align: center;
}
.pagination-size[data-v-2f43f213], .pagination-eop[data-v-2f43f213] {
  font-size: 1.0em;
  color: #aaa;
}
@media (max-width: 719px) {
.hide-on-small-screen[data-v-2f43f213] {
    display: none;
}
.pagination-top[data-v-2f43f213], .pagination-bottom[data-v-2f43f213] {
    justify-content: space-evenly;
    margin-left: -0.5em;
}
.pagination-top > .buttons[data-v-2f43f213], .pagination-bottom > .buttons[data-v-2f43f213] {
    flex: 1 10;
}
.pagination-numbers[data-v-2f43f213] {
    flex: 1 10;
}
input.search-filter[data-v-2f43f213] {
    margin: 0;
}
}

.icon.browser p[data-v-022a5673] {
  display: flex;
  justify-content: start;
  align-items: center;
}
.icon.browser p > div[data-v-022a5673] {
  font-size: 2em;
  width: 1.2em;
  height: 1.2em;
}
.icon.browser p > b[data-v-022a5673] {
  margin: 0 0.5em;
}
.row[data-v-022a5673] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column[data-v-022a5673] {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

div.collapsable[data-v-4d8da86a] {
  margin: 1.0em 0;
}
div.title.bar[data-v-4d8da86a] {
  display: flex;
  flex-wrap: wrap;
  margin: 0.2em 0;
  background: #f5f5f5;
  transition: background 0.1s ease-in;
}
div.title.bar[data-v-4d8da86a]:hover {
  background: #f0f0f0;
}
div.collapsable.expanded > div.title.bar[data-v-4d8da86a] {
  background: #a0f090;
}
div.collapsable.expanded > div.title.bar[data-v-4d8da86a]:hover {
  background: #afff9f;
}
div.title.bar > label[data-v-4d8da86a] {
  flex: 2 4;
  white-space: nowrap;
  padding: 0.3em 0.3em;
}
label.title[data-v-4d8da86a] {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  text-align: right;
  font-weight: bold;
}
label.status[data-v-4d8da86a] {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  font-weight: bold;
}
div.hideable[data-v-4d8da86a] {
  overflow: hidden;
}

td label[data-v-778b053c] {
  display: flex;
}
label[data-v-778b053c] {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  white-space: nowrap;
  cursor: help;
}
label > span.rd-content[data-v-778b053c] {
  margin: 0 0.2em;
}
.unit-week.future[data-v-778b053c],
.unit-day.future[data-v-778b053c] {
  color: green;
}
.unit-day[data-v-778b053c],
.unit-hour[data-v-778b053c],
.unit-minute[data-v-778b053c],
.unit-second[data-v-778b053c],
.unit-millisecond[data-v-778b053c] {
  color: black;
}
.past[data-v-778b053c] {
  color: blue;
}
.unit-hour.past[data-v-778b053c] {
  color: #35C;
}
.unit-day.past[data-v-778b053c] {
  color: #35C;
}
.unit-week.past[data-v-778b053c] {
  color: #369;
}
.unit-month.past[data-v-778b053c] {
  color: #633;
}
.unit-year.past[data-v-778b053c] {
  color: #966;
}
@media (max-width: 649px) {
span.slot-content[data-v-778b053c] {
    display: none;
}
label > *[data-v-778b053c] {
    margin: 0;
}
}

.row[data-v-aec73286] {
  margin: 0.5em 0;
}
input[data-v-aec73286] {
  width: 100%;
  padding: 0.5em;
}

@keyframes rotate-84eb515d {
from {
    transform: rotate(0deg);
}
to { 
    transform: rotate(360deg);
}
}
@-webkit-keyframes rotate-84eb515d {
from {
    -webkit-transform: rotate(0deg);
}
to { 
    -webkit-transform: rotate(360deg);
}
}
.loading[data-v-84eb515d] {
  display: flex;
  flex-direction: row;
}
.loading > .spinner[data-v-84eb515d] {
  display: inline-block;
	width: 0.5em;
	height: 0.5em;
	margin: auto 0;
	border:solid 4px rgb(107, 185, 105);
	border-radius: 50%;
	border-right-color: transparent;
	border-bottom-color: transparent;
  -webkit-transition: all 0.5s ease-in;
  -webkit-animation-name: rotate-84eb515d; 
  -webkit-animation-duration: 1.0s; 
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function: linear;
	
  transition: all 0.5s ease-in;
  animation-name: rotate-84eb515d; 
  animation-duration: 1.0s; 
  animation-iteration-count:infinite;
  animation-timing-function: linear; 
  vertical-align: middle;
}
.label[data-v-84eb515d] {
  margin-left: 0.5em;
}

.action-button .loading[data-v-2f4b0956] {
  margin-right: 5px;
}

.buttons[data-v-1efabf36] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 0.8em;
}
.buttons *[data-v-1efabf36] {
  cursor: pointer;
}
.buttons > label[data-v-1efabf36] {
  margin: 0.1em 0.5em;
  padding: 0.2em 0.5em;
  background: #eee;
  border-radius: 0.2em;
}
.buttons > span[data-v-1efabf36] {
  margin: 0.1em 0.5em;
  padding: 0.2em 0.5em;
}
.button[data-v-1efabf36] {
  padding: 0.3em 0.6em;
  margin-right: 0.2em;
}

.hidden-by-default[data-v-005de0bb] {
  display: flex;
  font-size: 1.0em;
  gap: 2px;
}
.button[data-v-005de0bb] {
  display: inline-flex;
  border-radius: 0.5em;
  background: #ccc;
  padding: 0 0.3em;
  margin: 2px 0;
  cursor: default;
  transition: background 0.2s linear;
  vertical-align: middle;
}
.button[data-v-005de0bb]:hover {
  background: #bbb;
}
.button[data-v-005de0bb]:active {
  background: #999;
}
.show.button .icon[data-v-005de0bb], .copy.button .icon[data-v-005de0bb], .hide.button .icon[data-v-005de0bb] {
  margin: 0;
}

.smart.property[data-v-875acb94] {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 2px;
}
.smart.property.object > div[data-v-875acb94] {
  width: 100%;
}
.smart.property.with-name[data-v-875acb94] {
  justify-content: space-between;
}
.smart.property > b[data-v-875acb94] {
  margin: 0 0.5em 0 0;
}
.smart.property.boolean > span[data-v-875acb94]::before {
  content: 'bool:'
}
.smart.property.boolean > span[data-v-875acb94] {
  display: inline-block;
  border-radius: 0.5em;
  padding: 0 0.5em;
  background: #ccc;
}


table.tabulation[data-v-2934aaf4] {
  display: table;
  width: 100%;
}
th[data-v-2934aaf4] {
  background: #EEE;
  user-select: none;
}
th > div[data-v-2934aaf4] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
th > div > .icon.wrapper[data-v-2934aaf4] {
  width: 1em;
  height: 1em;
  color: #CCC;
  margin-left: 0.5em;
}
th[data-v-2934aaf4]:hover {
  background: #DDD;
}
th.sorted > div > .icon.wrapper[data-v-2934aaf4] {
  color: #333;
}


.smart-table[data-v-487dc2b1] {
  width: 100%;
  overflow-x: auto;
}
.paged-item[data-v-487dc2b1] {
  margin: 0.5em 0;
}

.input.row[data-v-7d04f649] {
  margin: 4px 0;
}
.input.row > label[data-v-7d04f649] {
  min-width: 250px; 
  font-weight: bold;
}
.input.row > input[data-v-7d04f649] {
  flex: 1 1;
  padding: 0.5em;
}
.object-action[data-v-7d04f649] {
  border-radius: 0.5em;
  box-shadow: 2px #ddd;
  background: #eee;
  padding: 0.5em;
  margin: 0.5em 0;
}
.object-action pre[data-v-7d04f649] {
  overflow-y: clip;
  overflow-x: auto;
}

li {
  list-style: disc;
  margin: 5px 0 5px 2em;
  line-height: normal;
}
